<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>myAIDADynamicPrototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>491FC2C11EFBF53900884318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8916F0F71F73C048003F4282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8916F1091F73C365003F4282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8997819D1F75428A006C1DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899781C11F754C08006C1DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899781E61F754F86006C1DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
